[D-BUS Service]
Name=com.translator.desktop
SystemdService=translator-desktop.service
Exec=/usr/bin/systemctl --user start translator-desktop.service
